body{font-family: 'Georgia, Times New Roman', serif; background-color:#FEECE9;}
h1, h2{color: #FE7E6D;}
h1{font-size:3em;}
h2{font-size: 1em;}
.evenrow{background-color:crimson;}
nav{color: #FC997C }
a{color: #396EB0;}
nav a {color: #488FB1;}
nav a:hover {background-color: #CCD1E4;}
h1 {font-family:'Times New Roman', serif;}
p,ul,td,th {color:#2F3A8F}
nav {padding:10 px;} 
nav {margin-bottom: 30px}  
.address{float: left; margin: 20px;}
.link{float: right; margin: 20px;}
.map{float: right; margin: 5px;}
.form {float: left; margin: 5px;}   
.footerz {float: right;}
.whole{display:flex;margin-top: 10px; justify-content: space-between;}
.tech {text-align: center;}
.img, .skill{display: flex;}
.img{display:flex;justify-content: left;}
.img1, .img2,.img3,.img4,.img5,.img6{display: flex;}