

body { font-family: 'Noto Serif Display', serif; background-color:#C7F0ED;
    margin: 0;
}

img {
    max-width: 100;
}
ol li {
    display: block;
    height: 20px
}

nav {
    position: center;
    top: 0;
    max-width: 100vw;
 position: sticky;
    top: 0;

}



