body{font-family: 'Georgia, Times New Roman', serif;}
h1, h2{color: blue;}
.evenrow{background-color:crimson;}
h1{font-size:3em;}
h2{font-size: 1em;}
h1 {font-family:'Times New Roman', serif;}
p,ul,td,th {color:cornflowerblue}
